.btn{
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: 2px solid #728d78;
  background-color: #00ff40;
  color: rgb(85, 23, 23);
  cursor: pointer;
  border-radius: 10px;

}

.btn:hover {
  background-color: #0056b3;

}
.app-counter {
  text-align: center;
  margin-top: 50px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
